<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RailwayDb"
			 connectionString="Data Source=ICS-LT-DQW1DN3\SQLEXPRESS;Initial Catalog=RRS_DB;User ID=sa;Password=Naveenmessi09@"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>